RewriteEngine On

# Redirigir todas las solicitudes al archivo index.php dentro de la carpeta "api"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /fenixPHP/api/index.php [L]
