* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(156 220 254);
}

html {
  width: 100%;
  min-height: 100vh;
  background: rgb(59, 15, 89);
  background: linear-gradient(
    160deg,
    rgba(59, 15, 89, 1) 30%,
    rgba(80, 60, 97, 1) 50%
  );
}

body {
  width: 90%;
  margin: 2rem auto;
  width: 100%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;

  overflow-x: hidden;
}

.bg-gradient-principal {
  background: rgb(59, 15, 89);
  background: linear-gradient(
    160deg,
    rgba(59, 15, 89, 1) 30%,
    rgba(80, 60, 97, 1) 50%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1::before {
  content: "";
  position: absolute;
  width: 170%;
  height: 100%;
  background: rgb(59, 15, 89);
  background: linear-gradient(
    160deg,
    rgba(59, 15, 89, 1) 30%,
    rgba(80, 60, 97, 1) 50%
  );
  z-index: -1000;
  translate: 200px;
  animation: move-bg forwards 1s ease-in-out;
  animation-delay: 0.5s;
}

h1 {
  animation: fade-up 0.5s forwards ease-in-out !important;
}

h2 {
  animation: fade-up 1.5s forwards ease-in-out !important;
}

.fade-up {
  animation: fade-up 0.5s forwards ease-in-out !important;
}
.fade-in {
  animation: fade-in 0.5s forwards ease-in-out !important;
}

section.fade-in {
  animation: fade-in 2s forwards ease-in-out !important;
}

@keyframes move-bg {
  to {
    translate: -100px;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* <======CODE EDITOR =====> */

.code-editor {
  /* max-width: 300px; */
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon {
  width: 20px;
  transition: 0.2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}

.property {
  margin-left: 30px;
}

.property:hover {
  cursor: text;
}

.editor-content .color-0 {
  color: rgb(86 156 214);
}

.editor-content .color-1 {
  color: rgb(182 206 168);
}

.editor-content .color-2 {
  color: rgb(156 220 254);
}

.editor-content .color-3 {
  color: rgb(207 146 120);
}

.color-preview-1,
.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-1 {
  background-color: rgba(0, 0, 0, 0.5);
}




.description-endpoint:hover > .code-editor {
  transform: scale(1);
  filter: drop-shadow(10px 10px 200px #0b0b0b6d);
  transition: all .2s ease-in;
}